[submodule "Sublimeful"]
	path = Sublimeful
	url = git@github.com:Sublimeful/Website-Sublimeful.git
[submodule "InterviewAI"]
	path = InterviewAI
	url = git@github.com:Sublimeful/InterviewAI.git
[submodule "UnRavel"]
	path = UnRavel
	url = git@github.com:Sublimeful/UnRavel.git
